@{
    ViewBag.Title = "Đăng nhập thành viên";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using Web.Areas.Admin.Controllers
@model Web.Model.tbl_User
<div class="panel panel-color panel-primary panel-pages" style="box-shadow: 1px 30px 48px 5px rgba(142, 142, 142, 0.71); ">
    <div class="panel-heading bg-img toplogin">
        <img src="/Content/Admin/images/logo.png"/>
        <h3 class="text-center m-t-10 text-white">@ConfigTextController.GetValueCFT("login_dangnhap") <br> @ConfigTextController.GetValueCFT("login_title")</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "frm", @class = "form-horizontal m-t-20"}))
        {
            @Html.HiddenFor(g => g.IPLogin)
            if (!string.IsNullOrEmpty((string)Session["Messenger"]))
            {
                <div class="form-group">
                    <div class="col-xs-12 text-danger">@Session["Messenger"]</div>
                </div>
            }
            <div class="form-group ">
                <div class="col-xs-12">
                    @Html.TextBoxFor(g => g.UserName, new { @class = "form-control input-lg", placeholder = @ConfigTextController.GetValueCFT("tendangnhap"), required = "" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(g => g.Password, new { @class = "form-control input-lg", placeholder = @ConfigTextController.GetValueCFT("matkhau"), required = "" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup">
                            @ConfigTextController.GetValueCFT("ghinho")
                        </label>
                    </div>

                </div>
            </div>
            <div class="form-group text-center m-t-40">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">@ConfigTextController.GetValueCFT("login_dangnhap")</button>
                </div>
            </div>
            <div class="form-group m-t-30">
                <div class="col-sm-7">
                    <a href="/User/ForgotPassword"><i class="fa fa-lock m-r-5"></i> @ConfigTextController.GetValueCFT("login_quenmatkhau")</a>
                </div>
                <div class="col-sm-5 text-right">
                    <a href="~/User/Register">@ConfigTextController.GetValueCFT("login_taotaikhoan")</a>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $.getJSON("http://jsonip.com/?callback=?", function (data) {
            $("#IPLogin").val(data.ip);
        });
    });
</script>