@{
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
}
@using Web.Model.CustomModel
@model List<Web.Model.Logo>
<table class="table table-striped cabn_datatable">
    <thead>
        <tr>
            <th>
                <input type="hidden" id="hdfID" />
                <div class="checkbox">
                    <input id="chkall" type="checkbox">
                    <label for="chkall"></label>
                </div>
            </th>
            <th>Tên logo</th>
            <th>Ảnh</th>
            <th>Vị trí</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string status = string.Empty;
            if (item.Status)
            {
                status = "Vô hiệu";
            }else
            {
                status = "Kích hoạt";
            }
            <tr>
                <td style="vertical-align: middle;">
                    <div class="checkbox">
                        <input type="checkbox" value="@item.ID" id="chk'@item.ID'">
                        <label for="chk'@item.ID'"></label>
                    </div>
                </td>
                <td style="vertical-align: middle;">@item.Name</td>
                <td><img style="width:50px" src="@item.Image" /></td>
                <td style="vertical-align: middle;">@Html.Raw(item.Type == 1 ? "<span>Đầu trang</span>" : "<span>Cuối trang</span>")</td>
                <td style="vertical-align: middle;">@Html.Raw(item.Status == true ? "<span style='color:green'>Kích hoạt</span>" : "<span style='color:red'>Vô hiệu</span>")</td>
                <td style="vertical-align: middle;">
                    <div class="btn-list pull-right mr5">
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Edit))
                        {
                            <a href="#" class="btn btn-primary btn-bordered" onclick="Logo.loadfrmEdit(@item.ID) "><i class="glyphicon glyphicon-pencil"></i></a>
                        }
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Edit))
                        {
                            <a href="#" class="btn btn-success btn-bordered" onclick="Logo.active(@item.ID,'@status') " title="@status">
                                <i class="fa fa-power-off"></i>
                            </a>
                        }
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Delete))
                        {
                            <a href="#" class="btn btn-danger btn-bordered" onclick="Logo.ondelete(@item.ID) ">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function() {
        InitClickCheckAllInTable("chkall", function(res) {
            $("#hdfID").val(res);
        });
        $('.cabn_datatable').dataTable(
            {
                "oLanguage": {
                    "sUrl": "/Content/Vietnamese.json"
                },
            }
        );
    });
</script>
