<link rel="stylesheet" href="/Content/Admin/assets/colorpicker/css/colorpicker.css" type="text/css" />
<script type="text/javascript" src="/Content/Admin/assets/colorpicker/js/colorpicker.js"></script>
<script src="/Content/Admin/assets/ckfinder/ckfinder.js"></script>
@using Web.Model
@model Web.Model.User
@{
    var lstGroupUser = (List<tbl_GroupUser>)TempData["lstGroupUser"];
}
@using (Ajax.BeginForm("Add", "Account", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "account.onAddSuccess"
    },
    new { @id = "basicForm", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-md-2 control-label">Tên đăng nhập</label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.UserName, new { @class = "form-control", placeholder = "Tên đăng nhập" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mật khẩu</label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.Password, new { @class = "form-control", placeholder = "******" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Họ và tên</label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.FullName, new { @class = "form-control", placeholder = "Họ và tên" })
        </div>
    </div>
   
    <input type="hidden" name="UserType" value="1" />
    @*<div class="form-group">
        <label class="col-md-2 control-label">Loại người dùng</label>
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.UserType, new SelectList(new List<Object>{
                new { value = 1 , text = "Quản trị" },
                new { value = 2 , text = "Cán bộ"},
            },
                "value",
                "text",
                0), new { @class = "form-control" })
        </div>
    </div>*@
    @*<div class="form-group">
        <label class="col-md-2 control-label">Được quản lý trang</label>
        <div class="col-md-10 input-group-btn dropup">
            <button type="button" class="btn waves-effect waves-light dropdown-toggle" data-toggle="dropdown" style="overflow: hidden; position: relative;" aria-expanded="true">Chọn trang <span class="caret"></span></button>
            <ul id="" class="dropdown-menu" style="margin-left: 10px;max-height: 300px;overflow: scroll;">
                <li>
                    <a href="javascript:void(0)">
                        <div class="checkbox checkbox-primary">
                            <input id="chkall" type="checkbox" value="true">
                            <label for="chkall">
                                Chọn tất
                            </label>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                @foreach (var item in lstPageElements)
                {
                    <li class="chkelement" onclick="$('.dropup').addClass('open')">
                        <a href="javascript:void(0)">
                            <div class="checkbox checkbox-primary">
                                <input id="chk_@item.ID" name="arrPageElementId" type="checkbox" value="true">
                                <label for="chk_@item.ID">
                                    @item.Name
                                </label>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>*@
    @*<div class="form-group">
        <div class="col-sm-10 pull-right">
            <div class="checkbox checkbox-primary">
                <input id="isAdmin" name="isAdmin" type="checkbox" value="true">
                <label for="isAdmin">
                    Quản trị tối cao
                </label>
            </div>
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-sm-10 pull-right">
            <div class="checkbox checkbox-primary">
                <input id="Active" name="Active" type="checkbox" checked="" value="true">
                <label for="Active">
                    Kích hoạt
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-10 pull-right pl0">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Thêm mới</button>
    </div>
}
<script>
    // Basic Form
    $(document).ready(function () {
        $("#basicForm").validate({
            rules:
            {
                UserName:
                {
                    required: true
                },
                Password:
                {
                    required: true,
                    minlength: 6,
                },
                FullName:
                {
                    required: true
                },
                Email:
                {
                    email: true,
                    required: true
                }
            },
            messages:
            {
                UserName:
                {
                    required: "Chưa nhập tên đăng nhập"
                },
                Password:
                {
                    required: "Chưa nhập mật khẩu",
                    minlength: "Mật khẩu tối thiểu 6 ký tự"
                },
                FullName:
                {
                    required: "Chưa nhập Họ tên"
                },
                Email:
                {
                   email: "Email không đúng định dạng",
                   required: "Chưa nhập email"
                }
            }
        });
        account.initcheckall();
        $('#pagemanager').slimScroll({
            height: '300px',
        });
    });
</script>