@{
    Layout = null;
    var dothtml = ".html";
}
@model List<Web.Model.HomeMenu>

    @if (Model != null && Model.Count > 0)
    {
        var lstParent = Model.Where(g => g.ParentId == 0).OrderBy(g => g.Ordering).ToList();
        <div id="wide-nav" class="header-bottom wide-nav nav-dark flex-has-center hide-for-medium">
            <div class="flex-row container">
                <div class="flex-col hide-for-medium flex-center">
                    <ul class="nav header-nav header-bottom-nav nav-center nav-size-medium nav-spacing-xlarge nav-uppercase">
                        @foreach (var level1 in lstParent)
                        {
                            var level2 = Model.Where(g => g.ParentId == level1.ID).ToList();
                            if (level2.Count > 0)
                            {
                                <li id="menu-item-32" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-20 has-dropdown">
                                    <a href="@level1.Link@dothtml" class="nav-top-link">@level1.Name</a>
                                    <ul class='nav-dropdown nav-dropdown-default'>
                                        @foreach (var item in level2)
                                        {
                                            <li style="cursor:pointer; text-decoration:none"><a href="/danh-muc/@item.LinkSeo@dothtml">@item.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="@level1.Link@dothtml"> @level1.Name</a></li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    }

