@using Web
@using Web.Model
@using Web.Model.CustomModel
@model IEnumerable<Slide>
@{
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
}
<table class="table table-striped cabn_datatable">
    <thead>
        <tr>
            <th>
                <input type="hidden" id="hdfID" />
                <div class="checkbox">
                    <input id="chkall" type="checkbox">
                    <label for="chkall"></label>
                </div>
            </th>
            <th>Tiêu đề</th>
            <th>Ảnh</th>
            <th>Link</th>
            <th>Mô tả</th>
            <th>Thứ tự</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle;">
                    <div class="checkbox">
                        <input type="checkbox" value="@item.ID" id="chk'@item.ID'">
                        <label for="chk'@item.ID'"></label>
                    </div>
                </td>
                <td style="vertical-align: middle;">
                    @item.Title
                </td>
                <td style="vertical-align: middle;">
                    @item.Link
                </td>
                <td style="vertical-align: middle;">
                    @item.Description
                </td>
                <td style="vertical-align: middle;">
                    <img src="@item.Image" style="width: 150px;" />
                </td>
                <td style="vertical-align: middle;">
                    <input type="hidden" value="@item.ID" class="item_ID">
                    @Html.TextBoxFor(g => item.DisplayOrder, new { @class = "form-control width50 text-center",@type="number",@min="1" })
                </td>
                <td style="vertical-align: middle;">@Html.Raw((bool)item.Status ? "<span style='color:green'>Kích hoạt</span>" : "<span style='color:red'>Vô hiệu</span>")</td>
                <td style="vertical-align: middle;">
                    <div class="btn-list pull-right mr5">
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Edit))
                        {
                            <a href="#" class="btn btn-primary btn-bordered" onclick="slide.loadfrmedit(@item.ID) " title="Sửa"><i class=" glyphicon glyphicon-pencil"></i></a>
                        }
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Edit))
                        {
                            <a href="#" class="btn btn-success btn-bordered" onclick="slide.active(@item.ID) " title="@((bool)item.Status ? "Vô hiệu" : "Kích hoạt" )">
                                <i class="fa fa-power-off"></i>
                            </a>
                        }
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Delete))
                        {
                            <a href="#" class="btn btn-danger btn-bordered" onclick="slide.ondelete(@item.ID) " title="Xóa">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        InitClickCheckAllInTable("chkall", function (res) {
            $("#hdfID").val(res);
        });
        $('.cabn_datatable').dataTable(
       {
           "oLanguage": {
               "sUrl": "/Content/Vietnamese.json"
           }
       });
    });
</script>
