@{ 
    Layout = null;
    var id = ViewBag.ID;
    var multiple = ViewBag.Multiple;
    var type = ViewBag.Type;
}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/Assets/js/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="/Assets/js/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Assets/js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Assets/js/jquery-file-upload/js/vendor/tmpl.min.js"></script>
<script src="/Assets/js/jquery-file-upload/js/vendor/load-image.min.js"></script>
<script src="/Assets/js/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload-image.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload-video.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="/Assets/js/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="/Assets/js/jquery-file-upload/js/main.js"></script>

<div class="pull-left pleftvz" style="width:100%">
    @if (multiple == true)
    {
    <span>
        <input id="FileUpload" type="file" name="files[]" style="display:none">
        <label id="falseinput" class="btn btn-primary margin-bottom control-label">Chọn file</label>
    </span>
    }
    @if (multiple == false)
    {
        <span>
            <label id="falseinput1" class="btn btn-primary margin-bottom control-label">Chọn file</label>
            <input id="FileUpload1" type="file" name="files[]" style="display:none">
        </span>
    }
    <div id="url_File">
   
        @{ int asc = 0; foreach (var item in ViewBag.lstFiles)
            {
                var divname = "f" + asc.ToString(); var filelink = "file" + asc.ToString(); var filename = "namefile" + asc.ToString();
               if (type == "document")
               {
                <div class="row" style="margin-top:10px" id="file_attact_@asc.ToString()">
                    <div class="col-lg-4 col-md-4 " style="margin-top: 5px;">
                        <div id='@divname'>
                            <img width='25px' height='25px' src='@Web.Repository.Entity.Utilities.GetThumbnail(item.LinkFile)' />
                            <a href='@item.LinkFile' target='_BLANK'>@item.NameFile</a> &nbsp;

                            <input type='hidden' id='@filelink' name='@filelink' value='@item.LinkFile' />
                            <input type='hidden' id='@filename' name='@filename' value='@item.NameFile'/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ">
                        <input type="text" name="replace_name_@asc.ToString()" class="form-control" value="@item.ReplaceName" />
                    </div>
                    <div>
                        <a class="x-button-red" onclick="remove_row(@asc)">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                }
                if (type == "image")
                {
                    <div class="row" style="margin-top:10px" id="file_attact_@asc.ToString()">
                        <div class="col-lg-4 col-md-4 " style="margin-top: 5px;">
                            <div id='@divname'>
                                <img width='100' src='@Web.Repository.Entity.Utilities.GetThumbnail(item.LinkFile)' />
                                <a href='@item.LinkFile' target='_BLANK'>@item.NameFile</a> &nbsp;

                                <input type='hidden' id='@filelink' name='@filelink' value='@item.LinkFile' />
                                <input type='hidden' id='@filename' name='@filename' value='@item.NameFile' />
                            </div>
                        </div>
                        @*<div class="col-lg-6 col-md-6 ">
                            <input type="text" name="replace_name_@asc.ToString()" class="form-control" value="@item.ReplaceName" />
                        </div>*@
                        <div>
                            <a class="x-button-red" onclick="remove_row(@asc)">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                }
                asc++;
            }
        }
    </div>
</div>
<input type="hidden" id="NumFile" name="NumFile" value="@(ViewBag.so ?? 0)" />
<input type="hidden" id="type_file" value="@type" />
<div id="ListFile"></div>
<div id="arrFile"></div>
<div id="MissFile"></div>
<script type="text/javascript">
    $(document).ready(function () {
        //------custom button upload multiple-------
        $('#falseinput').click(function () {
            $("#FileUpload").click();
        });
        //------/custom button upload-------
        $('#falseinput1').click(function () {
            $("#FileUpload1").click();
        });
        //------ upload multiple file-------
        $("#FileUpload").on('change', function () {
            
            var type = $("#FileUpload").attr('type');
            // Checking whether FormData is available in browser  .
            var arrtype = $(this).get(0).files[0].name.split(".");
            var filetype = arrtype[arrtype.length - 1].toLowerCase();
            $('#MissFile').html("");
            if ($(this).get(0).files[0].size > 5242880 &&(multiple=="True")) {
                $('#MissFile').html("<div class='message_filevz'>File đính kèm không được vượt quá 5 MB</div>").fadeIn().delay(5000).fadeOut();
                return false;
            }
            else if (filetype != 'jpg' && filetype != 'gif' && filetype != 'png') {
                $('#MissFile').html("<div class='message_filevz'>File không đúng định dạng</div>").fadeIn().delay(5000).fadeOut();
                return false;
            }
            else {
                if (window.FormData !== undefined) {
                    var fileUpload = $(this).get(0);
                    var files = fileUpload.files;
                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    $.ajax({
                    url: '/UploadFile/UploadFileCreate',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (data) {
                            $("#FileUpload").val('');
                            
                            var NumFile = $("#NumFile").val();
                            var IDFile = "f" + NumFile;

                            var temp = "template";
                            switch ($('#type_file').val()) {
                                case "image":
                                    auto = true;
                                    fileType = /(\.|\/)(gif|jpe?g|png)$/i;
                                    temp = "image";
                                    break;
                                case "video":
                                    fileType = /(\.|\/)(m1v|m2v|avi|gl|mjpg|moov|mov|movie|mp2|mpa|mpe|mpeg|mpg|mv)$/i;
                                    temp = "video";
                                    break;
                                case "audio":
                                    fileType = /(\.|\/)(au|m2a|m3u|mid|midi|mod|mp3|voc|wav)$/i;
                                    temp = "audio";
                                    break;
                                case "document":
                                    fileType = /(\.|\/)(xl|xla|xls|xlsx|doc|docx|ppt|pptx|txt|pdf)$/i;
                                    temp = "document";
                                    break;
                                default:
                                    fileType = /(\.|\/)(m1v|m2v|avi|gl|mjpg|moov|mov|movie|mp2|mpa|mpe|mpeg|mpg|mv|gif|jpe?g|png|au|m2a|m3u|mid|midi|mod|mp3|voc|wav|xl|xla|xls|xlsx|doc|docx|ppt|pptx|txt|pdf)$/i;
                                    temp = "template";
                                    break;
                            }

                            if (temp == "document") {
                                var html = "";
                                //  html += '<div class="row" style="margin-top:10px;width:966px" id="file_attact_' + NumFile + '"><div class="col-lg-4 col-md-4 "><div id="' + IDFile + '"><img width="25px" height="25px" src="' + data[0].Img + '" style="margin-right:5px;" /><a href="' + decodeURIComponent(data[0].Url) + '">' + data[0].Name + '</a> &nbsp;<input type="hidden" id="namefile' + NumFile + '" name="namefile' + NumFile + '" value="' + data[0].Name + '" /></div></div><div class="col-lg-6 col-md-6 "><input type="text" name="replace_name_' + NumFile + '" class="form-control" value="' + data[0].replace_name + '" /></div><div><a class="x-button-red" onclick="remove_row(' + NumFile + ')"><i class="fa fa-times"></i></a></div></div>';
                                //html += "<img width="25px" height="25px" src="' + data[0].Img + '" style="margin-right:5px;" />";
                                html += '<tr>';
                                html += '        <td colspan="3">';
                                html += '            <p class="name">';
                                html += '                <a href="' + data[0].Img + '" title="' + data[0].Name + '" ><img src="' + data[0].Img + '" width="200px" style="vertical-align:bottom" /></a><div><a class="x-button-red" onclick="remove_row(' + NumFile + ')"><i class="fa fa-times"></i></a></div>';
                                html += '            </p>';
                                html += '        </td>';
                                html += '    </tr>';

                                $('#url_File').append(html);
                                SetFileUpload(data[0].Name, decodeURIComponent(data[0].Url), NumFile);
                            }
                            if (temp == "image") {
                                $('#url_File').html('<div class="row" style="margin-top:10px;width:100%" id="file_attact_' + NumFile + '"><div class="col-lg-4 col-md-4"><div id="' + IDFile + '"><img width="100" src="' + data[0].Img + '" style="margin-right:5px;" /></div></div><div class="col-lg-6 col-md-6 "></div><div><a class="x-button-red" onclick="remove_row(' + NumFile + ')"><i class="fa fa-times"></i></a></div></div>');
                                SetFileUpload(data[0].Name, decodeURIComponent(data[0].Url), NumFile);

                            }
                        }
                    });
                }
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css('width', progress + '%');
        });
    });

    //------ upload file-------
    $("#FileUpload1").on('change', function (multiple, type) {
        // Checking whether FormData is available in browser  .
        var arrtype = $(this).get(0).files[0].name.split(".");
        var filetype = arrtype[arrtype.length - 1].toLowerCase();
        $('#MissFile').html("");
        if ($(this).get(0).files[0].size > 5242880) {
            $('#MissFile').html("<div class='message_filevz'>File đính kèm không được vượt quá 5 MB</div>").fadeIn().delay(5000).fadeOut();
            return false;
        }
        else if (filetype != 'jpg' && filetype != 'gif' && filetype != 'png' && filetype != 'jpeg' && filetype != 'doc' && filetype != 'docx' && filetype != 'pdf' && filetype != 'xls' && filetype != 'xlsx' && filetype != 'rar' && filetype != 'zip') {
            $('#MissFile').html("<div class='message_filevz'>File không đúng định dạng</div>").fadeIn().delay(5000).fadeOut();
            return false;
        }
        else {
            if (window.FormData !== undefined) {
                var fileUpload = $(this).get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                   
                $.ajax({
                    url: '/UploadTaiLieu/UploadFileCreate',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data) {
                        $("#FileUpload1").val('');
                        
                        var NumFile = $("#NumFile").val();
                        var IDFile = "f" + NumFile;

                        var temp = "template";
                        switch ($('#type_file').val()) {
                            case "image":
                                auto = true;
                                fileType = /(\.|\/)(gif|jpe?g|png)$/i;
                                temp = "image";
                                break;
                            case "video":
                                fileType = /(\.|\/)(m1v|m2v|avi|gl|mjpg|moov|mov|movie|mp2|mpa|mpe|mpeg|mpg|mv)$/i;
                                temp = "video";
                                break;
                            case "audio":
                                fileType = /(\.|\/)(au|m2a|m3u|mid|midi|mod|mp3|voc|wav)$/i;
                                temp = "audio";
                                break;
                            case "document":
                                fileType = /(\.|\/)(xl|xla|xls|xlsx|doc|docx|ppt|pptx|txt|pdf)$/i;
                                temp = "document";
                                break;
                            default:
                                fileType = /(\.|\/)(m1v|m2v|avi|gl|mjpg|moov|mov|movie|mp2|mpa|mpe|mpeg|mpg|mv|gif|jpe?g|png|au|m2a|m3u|mid|midi|mod|mp3|voc|wav|xl|xla|xls|xlsx|doc|docx|ppt|pptx|txt|pdf)$/i;
                                temp = "template";
                                break;
                        }
                        if (temp == "document") {
                            
                            var html = "";
                            $('#url_File').html('<div class="row" style="margin-top:10px;width:100%" id="file_attact_' + NumFile + '"><div class="col-lg-4 col-md-4" style="margin-top: 5px;"><div id="' + IDFile + '"><img width="25px" height="25px" src="' + data[0].Img + '" style="margin-right:5px;" /><a href="' + decodeURIComponent(data[0].Url) + '">' + data[0].Name + '</a> &nbsp;<input type="hidden" id="namefile' + NumFile + '" name="namefile' + NumFile + '" value="' + data[0].Name + '" /></div></div><div class="col-lg-6 col-md-6 "><input type="text" name="replace_name_' + NumFile + '" class="form-control" value="' + data[0].replace_name + '" /></div><div><a class="x-button-red" onclick="remove_row(' + NumFile + ')"><i class="fa fa-times"></i></a></div></div>');
                            SetFileUpload(data[0].Name, decodeURIComponent(data[0].Url), NumFile);
                              
                        }

                        if (temp == "image") {
                            $('#url_File').html('<div class="row" style="margin-top:10px;width:100%" id="file_attact_' + NumFile + '"><div class="col-lg-4 col-md-4 "><div id="' + IDFile + '"><img width="100" src="' + data[0].Img + '" style="margin-right:5px;" /></div></div><div><a class="x-button-red" onclick="remove_row(' + NumFile + ')"><i class="fa fa-times"></i></a></div></div>');
                            SetFileUpload(data[0].Name, decodeURIComponent(data[0].Url), NumFile);
                               
                        }
                          
                    }
                });
            }
        }
    }).on('fileuploadprogressall', function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('.progress .progress-bar').css('width', progress + '%');
    });

    // them moi hs trong quan tri sua nhu nay
    function SetFileUpload(name, url, id, code) {
        var NumFile = $("#NumFile").val();
        var IDFile = "f" + id;
        var NameFile = "file"+id;
        var NewNumFile = parseInt(NumFile) + 1;
        var ValFile = url;
        $('#' + IDFile).append("<input type='hidden' id='" + NameFile + "' name='" + NameFile + "' value='" + ValFile + "'/>");
        $("#NumFile").val(NewNumFile);
    }

    function Check() {
        var NumFile = $("#file0").val();
    }
    function remove(idfile) {
        alert(idfile);
        $("#" + idfile).remove();
        $("#Listfile").remove("#" + idfile);
    }
    
    function remove_row(id) {
        var check = confirm("xác nhận xóa?");
        if (check == true) {
            $('#file_attact_' + id).remove();
            var NumFile = $("#NumFile").val();
        }
    }
</script>


