@using Web.Model.CustomModel
@model IEnumerable<Web.Model.Instruction>
 @using Web.Core
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th>Nội dung</th>
            <th>Ngày tạo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@HelperString.TruncateByWord(HelperString.StripHTML(HttpUtility.HtmlDecode(item.Description)), 120)</td>
                <td>@HelperString.TruncateByWord(HelperString.StripHTML(HttpUtility.HtmlDecode(item.Contents)), 120)</td>
                <td>@string.Format("{0:dd/MM/yyyy HH:mm}", item.CreatedDate)</td>
                <td  style="width:150px">
                    <div class="btn-list pull-right mr5">
                        <a href="#" class="btn btn-danger btn-bordered" onclick="instruction.loadfrmDetail(@item.ID)">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                            <a href="/Admin/Instruction/Edit/@item.ID" class="btn btn-primary btn-bordered" >
                                <i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="#" class="btn btn-danger btn-bordered" onclick="instruction.ondelete(@item.ID)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
